.guest-credentials {
    text-transform: lowercase;
    text-align: center;
}

.login-form {
    width: 22rem;
    border: 3px solid var(--primary-color);
    padding: 1rem;
    text-transform: capitalize;
    margin-top: 5rem;
}

.login-title {
    text-align: center;
    color: var(--primary-color);
}

.input {
    padding: 8px 0;

    display: block;
    margin: 1rem 0;
    width: 100%;
    border: 1px solid var(--primary-color);
}

.password-forgot {
    padding-left: 1rem;
    color: var(--primary-color);
}

.login-btn {
    display: block;
    margin: 1rem 0;
    width: 100%;
    padding: 6px 0;
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
}

.new-account {
    text-align: center;
}

.account-title {
    color: var(--primary-color);
}   